@import "tailwindcss";

@theme {
  --color-brand-dark: #1e1b4b;
  --color-brand-dark-hover: #171442;
  --color-brand-accent: #f59e0b;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}
